.light {
  --excolor: brown;
}

.dark {
  --excolor: orange;
}

* button {
  margin: 20px;
  font-size: 1.5rem;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

/* Navbar.vue */
.Navbar-container {
  background-color: var(--excolor);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.Navbar-container .links {
  margin: 0px;
  color: white;
  font-size: 1.5rem;
  padding: 1.2rem;
  grid-column: span 1;
  place-self: center;
  text-align: left;
}
.Navbar-container .title {
  margin: 0px;
  color: white;
  font-size: 2rem;
  padding: 1.2rem;
  grid-column: span 10;
  text-align: left;
}

@media screen and (min-width: 600px) {
  .Navbar-container h1 {
    font-size: 2rem;
  }
  .Navbar-container .title {
    font-size: 3rem;
  }
}
